/* BODY */
body {
	background-color: #f5f5dc;
}
#albumCover {
	padding-top: 3em;
}
#mainDiv {
	border-bottom: 2px solid black;
}
h1, h2, li, caption, th, td  {
	font-family: 'Ubuntu Condensed', sans-serif;
}
li {
	font-style: italic;
}
/* TABLE */
caption, th, td {
	text-align: center;
}
caption {
	font-size: 20px;
}