/*HEADER*/
.header h1 {
	border-bottom: 2px solid black;
	text-align:center;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.links {
	padding-bottom: 20px;
}
a {
	padding: 10px;
	color: darkblue;
}
a:link  {
	padding: 10px;
}
a:visited {
	color: green;
} 
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}

/* BODY */
body {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

/*FOOTER*/
footer {
	text-align: center;
	border-top: 2px solid black;
}
