/* HEADER */
h1 {
	text-align: center;
	border-bottom: 2px solid black;
	padding-bottom: 7px;
}

#links {
	border-bottom: 2px solid black;
	padding-bottom: 7px;
}
a {
	color: #009900;
}
a:hover {
	font-weight: bold;
}
/* BODY */
body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}
#main img {
	padding-top: 20px;
	padding-bottom: 20px;
}
#main p {
	margin-left: 10px;
	margin-right: 10px;
}
#main {
	border-bottom: 2px solid black;
	background-color: #e6ffe6;
}
.jumbotron {
	margin-top: 20px;
	background-color: none;
}
/* MENU */
#menuTable {
	padding-top: 20px;
	background-color: #e6ffe6;
}
.menuTitle {
	font-weight: bold;
}
#beverageTable {
	background-color: #e6ffe6;
}
.row {
	padding-bottom: 15px;
}
.alignRight {
	text-align: right;
}
/* FORM */
#form {
	padding-top: 30px;
	background-color: #e6ffe6;
}
/* FOOTER */
footer {
	text-align: center;
	border-top: 2px solid black;
	padding-top: 10px;
}