body {
	background-color: beige;
}
h1, h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
	text-align: center;
}
div {
	text-align: center;
}
#div1 {
	text-align: center;
	border-bottom: 2px solid black;
}
#albumCover {
	background-image: url("http://cdn.albumoftheyear.org/album/2014/16487-zaba.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 800px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	background-color: #b3b300;
	font-weight: bold;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
li {
	text-align: left;
	font-style: italic;
}
td {
	font-style: italic;
	background-color: #e6ffe6;
}
table, th, td {
	border-collapse: collapse;
}